<div class="p-5 font-semibold text-xl text-purple-300 min-w-0">
  OLAF's Neighbourhood
</div>

<div class="h-20 w-full border-y-dark-4 border-y-2 content-center shadow-sm text-sm px-4 "
[class.bg-slate-700]='this.selectedClients.has("public")'
(click)='toggleSelectedClient("public")'>
  Public Chat
</div>

@if(clientService.onlineClients$ | async; as clients){
  @for(client of clients; track client.fingerprint){
    
    <div class="h-20 w-full border-y-dark-4 border-y-2 content-center shadow-sm text-sm px-4 "
    (click)="toggleSelectedClient(client.fingerprint)">
      <div class="flex flex-row w-full h-4">
        <div class="overflow-hidden h-full break-all">
          {{client.fingerprint}}
        </div>
  
        <div class="mx-4 text-md">...</div>
  
        <div dir="rtl" class="overflow-hidden h-full">
          {{client.fingerprint}}
        </div>
  
      </div>
    </div>
    

  }
}