

<!-- <div class="h-20 w-full border-y-dark-4 border-y-2 content-center shadow-sm text-sm px-4 " -->

<div class="p-3 space-y-3">
  <div class="recipientSelectBox bg-dark-3"
    [class]='this.selectedClients.has("public") ? "accent text-black": ""'
    (click)='toggleSelectedClient("public")'>
      Public Chat
  </div>

  
  @if(clientService.onlineClients$ | async; as clients){
    @for(client of clients; track client.fingerprint){
      
      <!-- <div class="h-20 w-full border-y-dark-4 border-y-2 content-center shadow-sm text-sm px-4 " -->
 
      <div class="recipientSelectBox bg-dark-3"
      (click)="toggleSelectedClient(client.fingerprint)">
        
        <div class="flex flex-row w-full h-4">
          <div class="overflow-hidden h-full break-all">
            {{client.fingerprint}}
          </div>
    
          <div class="mx-4 text-md">...</div>
    
          <div dir="rtl" class="overflow-hidden h-full">
            {{client.fingerprint}}
          </div>
    
        </div>
      </div>
    }
  }

</div>