
<!-- Messages container -->
<div class="flex flex-col h-full overflow-auto p-10">

    @for (message of getDisplayMessages(); track message;){
        
        <!-- Recieved -->
        <div class="flex justify-start p-2 min-w-0">
            <div class="px-4 py-1 text-[0.96rem] rounded-3xl bg-dark-5  break-words whitespace-normal max-w-[80%] md:max-w-[65%] 2xl:max-w-[55%]">
                {{message.message}}
            </div>
        </div>
        
        <!-- Sent -->
        <div class="flex justify-end p-2 min-w-0">
            <div class="px-4 py-1 text-[0.96rem] rounded-3xl accent break-words whitespace-normal max-w-[80%] md:max-w-[65%] 2xl:max-w-[55%]">
                {{message.message}}
            </div>
        </div>
        
    }
    

</div>
<!-- Input row -->
<div class="flex flex-row w-full gap-2 min-w-0 h-min p-10">
    <div 
    #inputBox
    contentEditable="true"
    class="w-full max-w-full break-words whitespace-normal p-2.5 overflow-hidden border text-sm rounded-lg 
                focus:border-accent-1 focus:outline-none bg-slate-700 border-slate-600 text-white"
    ></div>

    <button 
    (click)="sendMessage()"
    class="self-end w-min h-min rounded-lg px-5 py-2.5 text-center font-semibold accent accent-hover"
    >
    Send
    </button>
</div>