<!-- Messages container -->
<div class="flex flex-col h-full overflow-auto p-10">

  @for (chatMessage of getDisplayMessages(); track chatMessage;){

    <!-- Recieved -->
    @if (chatMessage.sender !== this.userService.getUserFingerprint()) {
    <div class="flex flex-col justify-start p-2 min-w-0">
      <div class="chat-bubble-container">
        <div class="text-sm px-3 py-1 w-full truncate">{{chatMessage.sender}}</div>
        <div class="accent-2 chat-bubble">
          {{chatMessage.message}}
        </div>
      </div>
    </div>
    }
    @else {
      <!-- Sent -->
      <div class="flex justify-end p-2 min-w-0">
        <div class="accent-1 chat-bubble chat-bubble-container">
          {{chatMessage.message}}
        </div>
      </div>
    }
  }
  
</div>
<!-- Input row -->
<div class="flex flex-row w-full gap-2 min-w-0 h-min p-10">
  <div #inputBox contentEditable="true" class="w-full max-w-full break-words whitespace-normal p-2.5 overflow-hidden border text-sm rounded-lg 
                focus:border-accent-1 focus:outline-none bg-dark-4 border-dark-5 text-white shadow-lg"></div>

  <button (click)="sendMessage()"
    class="self-end w-min h-min rounded-lg px-5 py-2.5 text-center font-semibold accent-1 accent-1-hover shadow-lg">
    Send
  </button>
</div>