
<div class="flex flex-col bg-dark-3 h-dvh w-dvh min-w-0">
  
  @if(connecting || settingUpUser){
    <div class="flex flex-col justify-center items-center h-full w-full">
      
      <!-- Spinner Source: https://tw-elements.com/docs/standard/components/spinners/ -->
      <div 
      class="inline-block h-20 w-20 rounded-full 
      border-8 border-solid border-current border-e-transparent 
      align-[-0.125em] 
      animate-spin text-surface
      text-accent-1"></div>

      <div class="p-7 text-center space-y-2">
        @if (connecting){
          <div>Connecting...</div>
        }
        @if (settingUpUser){
          <div>Setting Up User...</div>
        }
      </div>
      
    </div>
  }
  @else {
    <!-- Top Bar -->
    <div class="flex flex-row w-full bg-dark-3 drop-shadow-lg">
      <div class="p-5 font-semibold text-xl text-accent-1 min-w-0">
        OLAF's Neighbourhood
      </div>
    </div>

    <div class="flex flex-row w-full h-full min-w-0">
      <!-- Sidebar -->
      <app-sidebar class="flex flex-col bg-dark-1 w-[30rem] h-full min-w-0"/>

      <!-- Chat -->
      <app-chat class="flex flex-col bg-dark-2 drop-shadow-lg w-full h-full min-w-0"/>

    </div>
    
  }
  

</div>
