
<div class="flex flex-row bg-dark-3 h-dvh w-dvh min-w-0">
  
  @if(connecting || settingUpUser){
    <div class="flex flex-col justify-center items-center h-full w-full">
      
      <!-- Spinner Source: https://tw-elements.com/docs/standard/components/spinners/ -->
      <div 
      class="inline-block h-20 w-20 rounded-full 
      border-8 border-solid border-current border-e-transparent 
      align-[-0.125em] 
      animate-spin text-surface
      text-purple-600"></div>

      <div class="p-7 text-center space-y-2">
        @if (connecting){
          <div>Connecting...</div>
        }
        @if (settingUpUser){
          <div>Setting Up User...</div>
        }
      </div>
      
    </div>
  }
  @else {
    <!-- Sidebar -->
    <app-sidebar class="flex flex-col bg-dark-1 shadow-lg w-[30rem] h-full min-w-0"/>

    <!-- Chat -->
    <app-chat class="flex flex-col w-full h-full min-w-0"/>
  }
  

</div>
