
<div class="flex flex-col bg-dark-3 h-dvh w-dvh min-w-0">
  
  @if(connecting || settingUpUser){
    <div class="flex flex-col justify-center items-center h-full w-full">
      
      <app-spinner class="h-20 w-20"/>

      <div class="p-7 text-center space-y-2">
        @if (connecting){
          <div>Connecting...</div>
        }
        @if (settingUpUser){
          <div>Setting Up User...</div>
        }
      </div>
      
    </div>
  }
  @else {
    <!-- Top Bar -->
    <app-header class="bg-dark-3 shadow-lg"></app-header>

    <div class="flex flex-row w-full h-full min-w-0">
      <!-- Sidebar -->
      <app-sidebar class="flex flex-col bg-dark-1 w-[30rem] h-full min-w-0"/>

      <!-- Chat -->
      <app-chat class="flex flex-col bg-dark-2 shadow-lg w-full h-full min-w-0"/>

    </div>
    
  }
  

</div>
